# Copy this file to .env and fill in values
# Keep this file up to date


### fill in the next settings
# Machine configuration
IP=127.0.0.1 

# Discord service
DISCORD_TOKEN=<token>

# main srb2kart server configuration
LUAFILESOURCE=""
CONFIGSOURCE=""
ADDONSOURCE=""

### Don't touch the next settings (unless you know)
SRB2KART_MAIN_PORT=5029
